body{


background: url(nature.jpg) no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
    
} 

.main-container {
    max-width: 1300px;
    height: auto;
    text-align: center;
    margin: 200px auto;
}
.main-container h1{
    font-family: 'Times New Roman', serif;
    font-weight: bold;
}



.parkListArea ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.parkListArea ul, li {
    width: 100%;
    margin-top: 20px;
    /* border: 1px red solid; */
    text-align: left;
    list-style:decimal;
    
}

span {
    font-weight: bold;
    
}

.nav-item {
    list-style: none;
}




