

.fa-youtube {
    color: #ff0000
}

.fa-facebook {
    color: #1877f2;
}

.fa-twitter {
    color: #1d9bf0;
}





body{
background: url(Advanture.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;     
}


.myfooter{
    text-align: center;
    margin-top: 30%;
    color: #d8d2d2;
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;


}


.navbar-brand{
    color: #3c3a3a;
}


.main-header{
    color: #525356;
    margin-left: 25%;
    margin-top: 10%;
    inline-size:900px;
    text-align: center;
    font-weight: bolder;
    

}

